#funcFence{
    /*border: 1px solid #4bb1cf;*/
    height: 400px;
}
#gisMap{
    border: 1px solid #4bb1cf;
    height: 400px;
}
#tablediv{

}
#tbodyone{

}
#left{
    float: left;
}
#right{
    margin-left: 265px;
}
/*.cityoption{*/
    /*margin-top: 30px;*/
/*}*/

.listDataTableDiv table td{white-space: nowrap}
.listDataTableDiv table th{white-space: nowrap}
.table-condensed tbody tr td{padding: 10px}
.table-condensed tbody tr th{padding: 10px}
.table>thead>.success>th {background-color:#ffffff}
.table thead tr th{font-size:14px;font-weight:400;text-align: center;vertical-align: middle;height: 50px;}

.tableBasic {
    background-color: #F9F9F9;
    color: #666666;
    border-left: 1px dotted #CCCCCC;
    border-top: 1px dotted #CCCCCC;
    overflow-y: scroll;
}
.tableBasic select {
    color: #8F8F8F;
}
.tableBasic td, .tableBasic th {
    border-right: 1px dotted #CCCCCC;
    border-bottom: 1px dotted #CCCCCC;
}
.tableBasic th {
    background-color: #EEEEEE;
    height: 16px;
}
.tableBasic .child {
    background-color: #FFFFFF;
}

.contentPane{
    margin-top: 390px;
    margin-left: 73px;
    overflow-y: scroll;
    height:400px;
}