<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eliteams.quick4j.web.dao.DmstandardMapper">
    <select id="list" resultType="com.eliteams.quick4j.web.model.Dmstandard">
        select * FROM dmstandard
    </select>
    <select id="select" resultType="com.eliteams.quick4j.web.model.Dmstandard" >
        SELECT * FROM dmstandard
        <where>
            <if test="dmGoal!=null">
                and dm_goal=#{dmGoal}
            </if>
        </where>
    </select>
    <update id="update" parameterType="Dmstandard" >
        update dmstandard set salt=#{salt},COD=#{COD},NH3=#{NH3},P=#{P},N=#{N},Cr6=#{Cr6},CN=#{CN},fdcjqs=#{fdcjqs},BOD5=#{BOD5},xfw=#{xfw},oil=#{oil},
        flow=#{flow},phenol=#{phenol},`As`=#{As},Hg=#{Hg},Pb=#{Pb},Cd=#{Cd},PH1=#{PH1},PH2=#{PH2},chloride=#{chloride},sulfide=#{sulfide},ylzbmhxj=#{ylzbmhxj} where dm_goal=#{dmGoal}
    </update>
</mapper>
