<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eliteams.quick4j.web.dao.oil_fieldMapper" >
  <resultMap id="BaseResultMap" type="com.eliteams.quick4j.web.model.oil_field" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tjyear" property="tjyear" jdbcType="VARCHAR" />
    <result column="tjmonth" property="tjmonth" jdbcType="VARCHAR" />
    <result column="tjday" property="tjday" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="yt_name" property="ytName" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="village" property="village" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="latitude" property="latitude" jdbcType="DOUBLE" />
    <result column="yt_area" property="ytArea" jdbcType="DOUBLE" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="psqx" property="psqx" jdbcType="VARCHAR" />
    <result column="river_mode" property="riverMode" jdbcType="VARCHAR" />
    <result column="river_name" property="riverName" jdbcType="VARCHAR" />
    <result column="river_level" property="riverLevel" jdbcType="VARCHAR" />
    <result column="sea_mode" property="seaMode" jdbcType="VARCHAR" />
    <result column="sea_name" property="seaName" jdbcType="VARCHAR" />
    <result column="river_func" property="riverFunc" jdbcType="VARCHAR" />
    <result column="river_goal" property="riverGoal" jdbcType="VARCHAR" />
    <result column="ja_function" property="jaFunction" jdbcType="VARCHAR" />
    <result column="sea_goal" property="seaGoal" jdbcType="VARCHAR" />
    <result column="sea_functiontype" property="seaFunctiontype" jdbcType="VARCHAR" />
    <result column="sea_functiongoal" property="seaFunctiongoal" jdbcType="VARCHAR" />
    <result column="spareone" property="spareone" jdbcType="VARCHAR" />
    <result column="sparetwo" property="sparetwo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, tjyear, tjmonth, tjday, city, yt_name, country, village, address, longitude, 
    latitude, yt_area, position, psqx, river_mode, river_name, river_level, sea_mode, 
    sea_name, river_func, river_goal, ja_function, sea_goal, sea_functiontype, sea_functiongoal, 
    spareone, sparetwo
  </sql>
  <select id="selectoilfield" resultMap="BaseResultMap" parameterType="com.eliteams.quick4j.web.model.oil_field" resultType="com.eliteams.quick4j.web.model.oil_field">
    SELECT
    <include refid="Base_Column_List"/>
    FROM oil_field
    <where>
      <if test="tjyear != null and tjyear !=''">
        AND tjyear = #{tjyear,jdbcType=VARCHAR}
      </if>
      <if test="tjmonth != null and tjmonth !=''" >
        AND tjmonth = #{tjmonth,jdbcType=VARCHAR}
      </if>
      <if test="tjday != null and tjday !=''">
        AND tjday = #{tjday,jdbcType=VARCHAR}
      </if>
      <if test="city != null and city !=''">
        AND city = #{city,jdbcType=VARCHAR}
      </if>
      <if test="ytName != null and ytName !=''" >
        AND yt_name = #{ytName,jdbcType=VARCHAR}
      </if>
      <if test="country != null and country !=''">
        AND country = #{country,jdbcType=VARCHAR}
      </if>
      <if test="village != null and village !=''" >
        AND village = #{village,jdbcType=VARCHAR}
      </if>
      <if test="address != null and address !=''">
        AND address = #{address,jdbcType=VARCHAR}
      </if>
      <if test="longitude != null and longitude !=''">
        AND longitude = #{longitude,jdbcType=DOUBLE}
      </if>
      <if test="latitude != null and latitude !=''">
        AND latitude = #{latitude,jdbcType=DOUBLE}
      </if>
      <if test="ytArea != null and ytArea !=''">
        AND yt_area = #{ytArea,jdbcType=DOUBLE}
      </if>
      <if test="position != null and position !=''" >
        AND `position` = #{position,jdbcType=VARCHAR}
      </if>
      <if test="psqx != null and psqx !=''" >
        AND psqx = #{psqx,jdbcType=VARCHAR}
      </if>
      <if test="riverMode != null and riverMode !=''">
        AND river_mode = #{riverMode,jdbcType=VARCHAR}
      </if>
      <if test="riverName != null and riverName !=''" >
        AND river_name = #{riverName,jdbcType=VARCHAR}
      </if>
      <if test="riverLevel != null and riverLevel !=''">
        AND river_level = #{riverLevel,jdbcType=VARCHAR}
      </if>
      <if test="seaMode != null and seaMode !=''">
        AND sea_mode = #{seaMode,jdbcType=VARCHAR}
      </if>
      <if test="seaName != null and seaName !=''" >
        AND sea_name = #{seaName,jdbcType=VARCHAR}
      </if>
      <if test="riverFunc != null and riverFunc !=''">
        AND river_func = #{riverFunc,jdbcType=VARCHAR}
      </if>
      <if test="riverGoal != null and riverGoal!=''">
        AND river_goal = #{riverGoal,jdbcType=VARCHAR}
      </if>
      <if test="jaFunction != null and jaFunction !=''">
        AND ja_function = #{jaFunction,jdbcType=DOUBLE}
      </if>
      <if test="seaGoal != null and seaGoal !=''" >
        AND sea_goal = #{seaGoal,jdbcType=DOUBLE}
      </if>
      <if test="seaFunctiontype != null and seaFunctiontype !=''">
        AND sea_functiontype = #{seaFunctiontype,jdbcType=VARCHAR}
      </if>
      <if test="seaFunctiongoal != null and seaFunctiongoal !=''">
        AND sea_functiongoal = #{seaFunctiongoal,jdbcType=DOUBLE}
      </if>
    </where>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from oil_field
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from oil_field
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.eliteams.quick4j.web.model.oil_field" >
    insert into oil_field (id, tjyear, tjmonth, 
      tjday, city, yt_name, 
      country, village, address, 
      longitude, latitude, yt_area, 
      position, psqx, river_mode, 
      river_name, river_level, sea_mode, 
      sea_name, river_func, river_goal, 
      ja_function, sea_goal, sea_functiontype, 
      sea_functiongoal, spareone, sparetwo
      )
    values (#{id,jdbcType=INTEGER}, #{tjyear,jdbcType=VARCHAR}, #{tjmonth,jdbcType=VARCHAR}, 
      #{tjday,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{ytName,jdbcType=VARCHAR}, 
      #{country,jdbcType=VARCHAR}, #{village,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{longitude,jdbcType=DOUBLE}, #{latitude,jdbcType=DOUBLE}, #{ytArea,jdbcType=DOUBLE}, 
      #{position,jdbcType=VARCHAR}, #{psqx,jdbcType=VARCHAR}, #{riverMode,jdbcType=VARCHAR}, 
      #{riverName,jdbcType=VARCHAR}, #{riverLevel,jdbcType=VARCHAR}, #{seaMode,jdbcType=VARCHAR}, 
      #{seaName,jdbcType=VARCHAR}, #{riverFunc,jdbcType=VARCHAR}, #{riverGoal,jdbcType=VARCHAR}, 
      #{jaFunction,jdbcType=VARCHAR}, #{seaGoal,jdbcType=VARCHAR}, #{seaFunctiontype,jdbcType=VARCHAR}, 
      #{seaFunctiongoal,jdbcType=VARCHAR}, #{spareone,jdbcType=VARCHAR}, #{sparetwo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.eliteams.quick4j.web.model.oil_field" >
    insert into oil_field
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tjyear != null" >
        tjyear,
      </if>
      <if test="tjmonth != null" >
        tjmonth,
      </if>
      <if test="tjday != null" >
        tjday,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="ytName != null" >
        yt_name,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="village != null" >
        village,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="ytArea != null" >
        yt_area,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="psqx != null" >
        psqx,
      </if>
      <if test="riverMode != null" >
        river_mode,
      </if>
      <if test="riverName != null" >
        river_name,
      </if>
      <if test="riverLevel != null" >
        river_level,
      </if>
      <if test="seaMode != null" >
        sea_mode,
      </if>
      <if test="seaName != null" >
        sea_name,
      </if>
      <if test="riverFunc != null" >
        river_func,
      </if>
      <if test="riverGoal != null" >
        river_goal,
      </if>
      <if test="jaFunction != null" >
        ja_function,
      </if>
      <if test="seaGoal != null" >
        sea_goal,
      </if>
      <if test="seaFunctiontype != null" >
        sea_functiontype,
      </if>
      <if test="seaFunctiongoal != null" >
        sea_functiongoal,
      </if>
      <if test="spareone != null" >
        spareone,
      </if>
      <if test="sparetwo != null" >
        sparetwo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tjyear != null" >
        #{tjyear,jdbcType=VARCHAR},
      </if>
      <if test="tjmonth != null" >
        #{tjmonth,jdbcType=VARCHAR},
      </if>
      <if test="tjday != null" >
        #{tjday,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="ytName != null" >
        #{ytName,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="village != null" >
        #{village,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="ytArea != null" >
        #{ytArea,jdbcType=DOUBLE},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="psqx != null" >
        #{psqx,jdbcType=VARCHAR},
      </if>
      <if test="riverMode != null" >
        #{riverMode,jdbcType=VARCHAR},
      </if>
      <if test="riverName != null" >
        #{riverName,jdbcType=VARCHAR},
      </if>
      <if test="riverLevel != null" >
        #{riverLevel,jdbcType=VARCHAR},
      </if>
      <if test="seaMode != null" >
        #{seaMode,jdbcType=VARCHAR},
      </if>
      <if test="seaName != null" >
        #{seaName,jdbcType=VARCHAR},
      </if>
      <if test="riverFunc != null" >
        #{riverFunc,jdbcType=VARCHAR},
      </if>
      <if test="riverGoal != null" >
        #{riverGoal,jdbcType=VARCHAR},
      </if>
      <if test="jaFunction != null" >
        #{jaFunction,jdbcType=VARCHAR},
      </if>
      <if test="seaGoal != null" >
        #{seaGoal,jdbcType=VARCHAR},
      </if>
      <if test="seaFunctiontype != null" >
        #{seaFunctiontype,jdbcType=VARCHAR},
      </if>
      <if test="seaFunctiongoal != null" >
        #{seaFunctiongoal,jdbcType=VARCHAR},
      </if>
      <if test="spareone != null" >
        #{spareone,jdbcType=VARCHAR},
      </if>
      <if test="sparetwo != null" >
        #{sparetwo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eliteams.quick4j.web.model.oil_field" >
    update oil_field
    <set >
      <if test="tjyear != null" >
        tjyear = #{tjyear,jdbcType=VARCHAR},
      </if>
      <if test="tjmonth != null" >
        tjmonth = #{tjmonth,jdbcType=VARCHAR},
      </if>
      <if test="tjday != null" >
        tjday = #{tjday,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="ytName != null" >
        yt_name = #{ytName,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="village != null" >
        village = #{village,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="ytArea != null" >
        yt_area = #{ytArea,jdbcType=DOUBLE},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="psqx != null" >
        psqx = #{psqx,jdbcType=VARCHAR},
      </if>
      <if test="riverMode != null" >
        river_mode = #{riverMode,jdbcType=VARCHAR},
      </if>
      <if test="riverName != null" >
        river_name = #{riverName,jdbcType=VARCHAR},
      </if>
      <if test="riverLevel != null" >
        river_level = #{riverLevel,jdbcType=VARCHAR},
      </if>
      <if test="seaMode != null" >
        sea_mode = #{seaMode,jdbcType=VARCHAR},
      </if>
      <if test="seaName != null" >
        sea_name = #{seaName,jdbcType=VARCHAR},
      </if>
      <if test="riverFunc != null" >
        river_func = #{riverFunc,jdbcType=VARCHAR},
      </if>
      <if test="riverGoal != null" >
        river_goal = #{riverGoal,jdbcType=VARCHAR},
      </if>
      <if test="jaFunction != null" >
        ja_function = #{jaFunction,jdbcType=VARCHAR},
      </if>
      <if test="seaGoal != null" >
        sea_goal = #{seaGoal,jdbcType=VARCHAR},
      </if>
      <if test="seaFunctiontype != null" >
        sea_functiontype = #{seaFunctiontype,jdbcType=VARCHAR},
      </if>
      <if test="seaFunctiongoal != null" >
        sea_functiongoal = #{seaFunctiongoal,jdbcType=VARCHAR},
      </if>
      <if test="spareone != null" >
        spareone = #{spareone,jdbcType=VARCHAR},
      </if>
      <if test="sparetwo != null" >
        sparetwo = #{sparetwo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eliteams.quick4j.web.model.oil_field" >
    update oil_field
    set tjyear = #{tjyear,jdbcType=VARCHAR},
      tjmonth = #{tjmonth,jdbcType=VARCHAR},
      tjday = #{tjday,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      yt_name = #{ytName,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      village = #{village,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=DOUBLE},
      yt_area = #{ytArea,jdbcType=DOUBLE},
      position = #{position,jdbcType=VARCHAR},
      psqx = #{psqx,jdbcType=VARCHAR},
      river_mode = #{riverMode,jdbcType=VARCHAR},
      river_name = #{riverName,jdbcType=VARCHAR},
      river_level = #{riverLevel,jdbcType=VARCHAR},
      sea_mode = #{seaMode,jdbcType=VARCHAR},
      sea_name = #{seaName,jdbcType=VARCHAR},
      river_func = #{riverFunc,jdbcType=VARCHAR},
      river_goal = #{riverGoal,jdbcType=VARCHAR},
      ja_function = #{jaFunction,jdbcType=VARCHAR},
      sea_goal = #{seaGoal,jdbcType=VARCHAR},
      sea_functiontype = #{seaFunctiontype,jdbcType=VARCHAR},
      sea_functiongoal = #{seaFunctiongoal,jdbcType=VARCHAR},
      spareone = #{spareone,jdbcType=VARCHAR},
      sparetwo = #{sparetwo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>