<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eliteams.quick4j.web.dao.rain_outletMapper" >
  <resultMap id="BaseResultMap" type="com.eliteams.quick4j.web.model.rain_outlet" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tjyear" property="tjyear" jdbcType="VARCHAR" />
    <result column="tjmonth" property="tjmonth" jdbcType="VARCHAR" />
    <result column="tjday" property="tjday" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="psk_name" property="pskName" jdbcType="VARCHAR" />
    <result column="psk_code" property="pskCode" jdbcType="VARCHAR" />
    <result column="county" property="county" jdbcType="VARCHAR" />
    <result column="village" property="village" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="latitude" property="latitude" jdbcType="DOUBLE" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="psqx" property="psqx" jdbcType="VARCHAR" />
    <result column="river_mode" property="riverMode" jdbcType="VARCHAR" />
    <result column="river_name" property="riverName" jdbcType="VARCHAR" />
    <result column="river_level" property="riverLevel" jdbcType="VARCHAR" />
    <result column="sea_mode" property="seaMode" jdbcType="VARCHAR" />
    <result column="sea_name" property="seaName" jdbcType="VARCHAR" />
    <result column="pwk_njpsl" property="pwkNjpsl" jdbcType="DOUBLE" />
    <result column="mcjypsl" property="mcjypsl" jdbcType="DOUBLE" />
    <result column="njscs" property="njscs" jdbcType="DOUBLE" />
    <result column="rain_name" property="rainName" jdbcType="VARCHAR" />
    <result column="rain_area" property="rainArea" jdbcType="DOUBLE" />
    <result column="river_gnq" property="riverGnq" jdbcType="VARCHAR" />
    <result column="river_szmb" property="riverSzmb" jdbcType="VARCHAR" />
    <result column="hy_gnq" property="hyGnq" jdbcType="VARCHAR" />
    <result column="hy_szmb" property="hySzmb" jdbcType="VARCHAR" />
    <result column="hysea_gnq" property="hyseaGnq" jdbcType="VARCHAR" />
    <result column="hysea_szmb" property="hyseaSzmb" jdbcType="VARCHAR" />
    <result column="spareone" property="spareone" jdbcType="VARCHAR" />
    <result column="sparetwo" property="sparetwo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, tjyear, tjmonth, tjday, city, psk_name, psk_code, county, village, address, longitude, 
    latitude, position, psqx, river_mode, river_name, river_level, sea_mode, sea_name, 
    pwk_njpsl, mcjypsl, njscs, rain_name, rain_area, river_gnq, river_szmb, hy_gnq, hy_szmb, 
    hysea_gnq, hysea_szmb, spareone, sparetwo
  </sql>
  <select id="selectRainoutlet" resultMap="BaseResultMap" parameterType="com.eliteams.quick4j.web.model.rain_outlet" resultType="com.eliteams.quick4j.web.model.rain_outlet">
    SELECT
    <include refid="Base_Column_List"/>
    FROM rain_outlet
    <where>
      <if test="tjyear != null and tjyear !=''">
        AND tjyear = #{tjyear,jdbcType=VARCHAR}
      </if>
      <if test="tjmonth != null and tjmonth !=''" >
        AND tjmonth = #{tjmonth,jdbcType=VARCHAR}
      </if>
      <if test="tjday != null and tjday !=''">
        AND tjday = #{tjday,jdbcType=VARCHAR}
      </if>
      <if test="city != null and city !=''">
        AND city = #{city,jdbcType=VARCHAR}
      </if>
      <if test="pskName != null and pskName !=''" >
        AND psk_name = #{pskName,jdbcType=VARCHAR}
      </if>
      <if test="pskCode != null and pskCode !=''">
        AND psk_code = #{pskCode,jdbcType=VARCHAR}
      </if>
      <if test="county != null and county !=''">
        AND county = #{county,jdbcType=VARCHAR}
      </if>
      <if test="village != null and village !=''" >
        AND village = #{village,jdbcType=VARCHAR}
      </if>
      <if test="address != null and address !=''">
        AND address = #{address,jdbcType=VARCHAR}
      </if>
      <if test="longitude != null and longitude !=''">
        AND longitude = #{longitude,jdbcType=DOUBLE}
      </if>
      <if test="latitude != null and latitude !=''">
        AND tjyear = #{tjyear,jdbcType=DOUBLE}
      </if>
      <if test="position != null and position !=''" >
        AND tjmonth = #{tjmonth,jdbcType=VARCHAR}
      </if>
      <if test="psqx != null and psqx !=''">
        AND tjday = #{tjday,jdbcType=VARCHAR}
      </if>
      <if test="riverMode != null and riverMode !=''">
        AND river_mode = #{riverMode,jdbcType=VARCHAR}
      </if>
      <if test="riverName != null and riverName !=''" >
        AND river_name = #{riverName,jdbcType=VARCHAR}
      </if>
      <if test="riverLevel != null and riverLevel !=''">
        AND river_level = #{riverLevel,jdbcType=VARCHAR}
      </if>
      <if test="seaMode != null and seaMode !=''">
        AND sea_mode = #{seaMode,jdbcType=VARCHAR}
      </if>
      <if test="seaName != null and seaName !=''" >
        AND sea_name = #{seaName,jdbcType=VARCHAR}
      </if>
      <if test="pwkNjpsl != null and pwkNjpsl !=''">
        AND pwk_njpsl = #{pwkNjpsl,jdbcType=DOUBLE}
      </if>
      <if test="mcjypsl != null and mcjypsl !=''">
        AND mcjypsl = #{mcjypsl,jdbcType=DOUBLE}
      </if>
      <if test="njscs != null and njscs !=''" >
        AND njscs = #{njscs,jdbcType=DOUBLE}
      </if>
      <if test="rainName != null and rainName !=''">
        AND rain_name= #{rainName,jdbcType=VARCHAR}
      </if>
      <if test="rainArea != null and rainArea !=''">
        AND rain_area = #{rainArea,jdbcType=DOUBLE}
      </if>
      <if test="riverGnq != null and riverGnq !=''" >
        AND river_gnq = #{riverGnq,jdbcType=VARCHAR}
      </if>
      <if test="riverSzmb != null and riverSzmb !=''">
        AND river_szmb = #{riverSzmb,jdbcType=VARCHAR}
      </if>
      <if test="hyGnq != null and hyGnq !=''">
        AND hy_gnq = #{hyGnq,jdbcType=VARCHAR}
      </if>
      <if test="hySzmb != null and hySzmb !=''" >
        AND hy_szmb = #{hySzmb,jdbcType=VARCHAR}
      </if>
      <if test="hyseaGnq != null and hyseaGnq !=''">
        AND hysea_gnq = #{hyseaGnq,jdbcType=VARCHAR}
      </if>
      <if test="hyseaSzmb != null and hyseaSzmb !=''">
        AND  hysea_szmb = #{ hyseaSzmb,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rain_outlet
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rain_outlet
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.eliteams.quick4j.web.model.rain_outlet" >
    insert into rain_outlet (id, tjyear, tjmonth, 
      tjday, city, psk_name, 
      psk_code, county, village, 
      address, longitude, latitude, 
      position, psqx, river_mode, 
      river_name, river_level, sea_mode, 
      sea_name, pwk_njpsl, mcjypsl, 
      njscs, rain_name, rain_area, 
      river_gnq, river_szmb, hy_gnq, 
      hy_szmb, hysea_gnq, hysea_szmb, 
      spareone, sparetwo)
    values (#{id,jdbcType=INTEGER}, #{tjyear,jdbcType=VARCHAR}, #{tjmonth,jdbcType=VARCHAR}, 
      #{tjday,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{pskName,jdbcType=VARCHAR}, 
      #{pskCode,jdbcType=VARCHAR}, #{county,jdbcType=VARCHAR}, #{village,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{longitude,jdbcType=DOUBLE}, #{latitude,jdbcType=DOUBLE}, 
      #{position,jdbcType=VARCHAR}, #{psqx,jdbcType=VARCHAR}, #{riverMode,jdbcType=VARCHAR}, 
      #{riverName,jdbcType=VARCHAR}, #{riverLevel,jdbcType=VARCHAR}, #{seaMode,jdbcType=VARCHAR}, 
      #{seaName,jdbcType=VARCHAR}, #{pwkNjpsl,jdbcType=DOUBLE}, #{mcjypsl,jdbcType=DOUBLE}, 
      #{njscs,jdbcType=DOUBLE}, #{rainName,jdbcType=VARCHAR}, #{rainArea,jdbcType=DOUBLE}, 
      #{riverGnq,jdbcType=VARCHAR}, #{riverSzmb,jdbcType=VARCHAR}, #{hyGnq,jdbcType=VARCHAR}, 
      #{hySzmb,jdbcType=VARCHAR}, #{hyseaGnq,jdbcType=VARCHAR}, #{hyseaSzmb,jdbcType=VARCHAR}, 
      #{spareone,jdbcType=VARCHAR}, #{sparetwo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eliteams.quick4j.web.model.rain_outlet" >
    insert into rain_outlet
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tjyear != null" >
        tjyear,
      </if>
      <if test="tjmonth != null" >
        tjmonth,
      </if>
      <if test="tjday != null" >
        tjday,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="pskName != null" >
        psk_name,
      </if>
      <if test="pskCode != null" >
        psk_code,
      </if>
      <if test="county != null" >
        county,
      </if>
      <if test="village != null" >
        village,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="psqx != null" >
        psqx,
      </if>
      <if test="riverMode != null" >
        river_mode,
      </if>
      <if test="riverName != null" >
        river_name,
      </if>
      <if test="riverLevel != null" >
        river_level,
      </if>
      <if test="seaMode != null" >
        sea_mode,
      </if>
      <if test="seaName != null" >
        sea_name,
      </if>
      <if test="pwkNjpsl != null" >
        pwk_njpsl,
      </if>
      <if test="mcjypsl != null" >
        mcjypsl,
      </if>
      <if test="njscs != null" >
        njscs,
      </if>
      <if test="rainName != null" >
        rain_name,
      </if>
      <if test="rainArea != null" >
        rain_area,
      </if>
      <if test="riverGnq != null" >
        river_gnq,
      </if>
      <if test="riverSzmb != null" >
        river_szmb,
      </if>
      <if test="hyGnq != null" >
        hy_gnq,
      </if>
      <if test="hySzmb != null" >
        hy_szmb,
      </if>
      <if test="hyseaGnq != null" >
        hysea_gnq,
      </if>
      <if test="hyseaSzmb != null" >
        hysea_szmb,
      </if>
      <if test="spareone != null" >
        spareone,
      </if>
      <if test="sparetwo != null" >
        sparetwo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tjyear != null" >
        #{tjyear,jdbcType=VARCHAR},
      </if>
      <if test="tjmonth != null" >
        #{tjmonth,jdbcType=VARCHAR},
      </if>
      <if test="tjday != null" >
        #{tjday,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="pskName != null" >
        #{pskName,jdbcType=VARCHAR},
      </if>
      <if test="pskCode != null" >
        #{pskCode,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="village != null" >
        #{village,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="psqx != null" >
        #{psqx,jdbcType=VARCHAR},
      </if>
      <if test="riverMode != null" >
        #{riverMode,jdbcType=VARCHAR},
      </if>
      <if test="riverName != null" >
        #{riverName,jdbcType=VARCHAR},
      </if>
      <if test="riverLevel != null" >
        #{riverLevel,jdbcType=VARCHAR},
      </if>
      <if test="seaMode != null" >
        #{seaMode,jdbcType=VARCHAR},
      </if>
      <if test="seaName != null" >
        #{seaName,jdbcType=VARCHAR},
      </if>
      <if test="pwkNjpsl != null" >
        #{pwkNjpsl,jdbcType=DOUBLE},
      </if>
      <if test="mcjypsl != null" >
        #{mcjypsl,jdbcType=DOUBLE},
      </if>
      <if test="njscs != null" >
        #{njscs,jdbcType=DOUBLE},
      </if>
      <if test="rainName != null" >
        #{rainName,jdbcType=VARCHAR},
      </if>
      <if test="rainArea != null" >
        #{rainArea,jdbcType=DOUBLE},
      </if>
      <if test="riverGnq != null" >
        #{riverGnq,jdbcType=VARCHAR},
      </if>
      <if test="riverSzmb != null" >
        #{riverSzmb,jdbcType=VARCHAR},
      </if>
      <if test="hyGnq != null" >
        #{hyGnq,jdbcType=VARCHAR},
      </if>
      <if test="hySzmb != null" >
        #{hySzmb,jdbcType=VARCHAR},
      </if>
      <if test="hyseaGnq != null" >
        #{hyseaGnq,jdbcType=VARCHAR},
      </if>
      <if test="hyseaSzmb != null" >
        #{hyseaSzmb,jdbcType=VARCHAR},
      </if>
      <if test="spareone != null" >
        #{spareone,jdbcType=VARCHAR},
      </if>
      <if test="sparetwo != null" >
        #{sparetwo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eliteams.quick4j.web.model.rain_outlet" >
    update rain_outlet
    <set >
      <if test="tjyear != null" >
        tjyear = #{tjyear,jdbcType=VARCHAR},
      </if>
      <if test="tjmonth != null" >
        tjmonth = #{tjmonth,jdbcType=VARCHAR},
      </if>
      <if test="tjday != null" >
        tjday = #{tjday,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="pskName != null" >
        psk_name = #{pskName,jdbcType=VARCHAR},
      </if>
      <if test="pskCode != null" >
        psk_code = #{pskCode,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        county = #{county,jdbcType=VARCHAR},
      </if>
      <if test="village != null" >
        village = #{village,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="psqx != null" >
        psqx = #{psqx,jdbcType=VARCHAR},
      </if>
      <if test="riverMode != null" >
        river_mode = #{riverMode,jdbcType=VARCHAR},
      </if>
      <if test="riverName != null" >
        river_name = #{riverName,jdbcType=VARCHAR},
      </if>
      <if test="riverLevel != null" >
        river_level = #{riverLevel,jdbcType=VARCHAR},
      </if>
      <if test="seaMode != null" >
        sea_mode = #{seaMode,jdbcType=VARCHAR},
      </if>
      <if test="seaName != null" >
        sea_name = #{seaName,jdbcType=VARCHAR},
      </if>
      <if test="pwkNjpsl != null" >
        pwk_njpsl = #{pwkNjpsl,jdbcType=DOUBLE},
      </if>
      <if test="mcjypsl != null" >
        mcjypsl = #{mcjypsl,jdbcType=DOUBLE},
      </if>
      <if test="njscs != null" >
        njscs = #{njscs,jdbcType=DOUBLE},
      </if>
      <if test="rainName != null" >
        rain_name = #{rainName,jdbcType=VARCHAR},
      </if>
      <if test="rainArea != null" >
        rain_area = #{rainArea,jdbcType=DOUBLE},
      </if>
      <if test="riverGnq != null" >
        river_gnq = #{riverGnq,jdbcType=VARCHAR},
      </if>
      <if test="riverSzmb != null" >
        river_szmb = #{riverSzmb,jdbcType=VARCHAR},
      </if>
      <if test="hyGnq != null" >
        hy_gnq = #{hyGnq,jdbcType=VARCHAR},
      </if>
      <if test="hySzmb != null" >
        hy_szmb = #{hySzmb,jdbcType=VARCHAR},
      </if>
      <if test="hyseaGnq != null" >
        hysea_gnq = #{hyseaGnq,jdbcType=VARCHAR},
      </if>
      <if test="hyseaSzmb != null" >
        hysea_szmb = #{hyseaSzmb,jdbcType=VARCHAR},
      </if>
      <if test="spareone != null" >
        spareone = #{spareone,jdbcType=VARCHAR},
      </if>
      <if test="sparetwo != null" >
        sparetwo = #{sparetwo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eliteams.quick4j.web.model.rain_outlet" >
    update rain_outlet
    set tjyear = #{tjyear,jdbcType=VARCHAR},
      tjmonth = #{tjmonth,jdbcType=VARCHAR},
      tjday = #{tjday,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      psk_name = #{pskName,jdbcType=VARCHAR},
      psk_code = #{pskCode,jdbcType=VARCHAR},
      county = #{county,jdbcType=VARCHAR},
      village = #{village,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=DOUBLE},
      position = #{position,jdbcType=VARCHAR},
      psqx = #{psqx,jdbcType=VARCHAR},
      river_mode = #{riverMode,jdbcType=VARCHAR},
      river_name = #{riverName,jdbcType=VARCHAR},
      river_level = #{riverLevel,jdbcType=VARCHAR},
      sea_mode = #{seaMode,jdbcType=VARCHAR},
      sea_name = #{seaName,jdbcType=VARCHAR},
      pwk_njpsl = #{pwkNjpsl,jdbcType=DOUBLE},
      mcjypsl = #{mcjypsl,jdbcType=DOUBLE},
      njscs = #{njscs,jdbcType=DOUBLE},
      rain_name = #{rainName,jdbcType=VARCHAR},
      rain_area = #{rainArea,jdbcType=DOUBLE},
      river_gnq = #{riverGnq,jdbcType=VARCHAR},
      river_szmb = #{riverSzmb,jdbcType=VARCHAR},
      hy_gnq = #{hyGnq,jdbcType=VARCHAR},
      hy_szmb = #{hySzmb,jdbcType=VARCHAR},
      hysea_gnq = #{hyseaGnq,jdbcType=VARCHAR},
      hysea_szmb = #{hyseaSzmb,jdbcType=VARCHAR},
      spareone = #{spareone,jdbcType=VARCHAR},
      sparetwo = #{sparetwo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>