<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eliteams.quick4j.web.dao.WdscMapper">
    <select id="list" resultType="com.eliteams.quick4j.web.model.Wdsc">
        select * FROM wdsc
    </select>
    <select id="select" parameterType="String" resultType="Wdsc">
        SELECT * FROM wdsc where `name` like concat('%',#{str},'%') OR generate_date like concat('%',#{str},'%') OR `type` like concat('%',#{str},'%')
    </select>


    <select id="selectbyname" parameterType="String" resultType="Wdsc">
        select * from  wdsc  where `name`= #{name}
    </select>

    <select id="get" parameterType="_int" resultType="Wdsc">
        select * from  wdsc  where id= #{id}
    </select>

    <insert id="add" parameterType="Wdsc" >
        insert into wdsc (`name`,generate_date,generate_time,`type`)
        values (#{name},#{generateDate},#{generateTime},#{type})
    </insert>

    <delete id="delete" parameterType="_int" >
        delete from wdsc where id= #{id}
    </delete>
</mapper>
